@media (max-width: 667px) {
	.sectionBlacBar img {
		width: 350px;
		height: 350px;
	}
	.blocPhone {
		position: absolute;
		left: 0;
		top: 250px;
		width: 100%;
		border-bottom-left-radius: 1px;
	}
	.bkacBar {
		width: 100%;
		border-bottom-right-radius: 1px;
	}
	.bkacBar ul {
		margin: 60px 0px;
		font-size: 12px;
	}
	.drow {
		bottom: 80px;
	}
	.flex-2 {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.sectionBottom {
		padding: 10px 0;
	}
	.col-img img {
		height: 400px;
		width: 300px;
	}
	.col-1-p h2 {
		font-size: 16px;
	}
	.col-1-p p {
		font-size: 16px;
	}
	.blocLink img {
		width: 400px;
		height: 400px;
	}

	.toggle {
		position: relative;
		background-image: url('IMG/menu.png');
		background-repeat: no-repeat;
		background-position-y: 20px;
		background-size: 40px;
		width: 40px;
		height: 100px;
	    -webkit-transition: 0.5s;
	    -o-transition: 0.5s;
	    transition: 0.5s;
	    left: 5%;
	}

	.toggle.active {
		position: relative;
		background-image: url('IMG/close.png');
		background-repeat: no-repeat;
		background-size: 40px;
		width: 40px;
		height: 100px;
		left: 5%;
	    -webkit-transition: 0.5s;
	    -o-transition: 0.5s;
	    transition: 0.5s;
	}

	.burMenu {
		display: none;
	}

	.burMenu.active {
		display: block;
	}
}

@media (max-width: 1024px) {
	.flex-2 {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.blocMain {
		width: 100%;
	}
	.flex-2, .blocLink {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.blocLink {
		margin: 20px 0;
		width: 700px;
		height: 700px;
	}
	.blocLinFot1, .blocLinFot2, .blocLinFot3 {
		width: 100%;
		border-top: 1px solid #ffffff;
	}
	.contentMobol {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}

@media (max-width: 768px) {
	.blocLink {
		width: 400px;
		height: 400px;
	}
}