
	html, body {
		margin: 0;
		padding: 0;
		background-color: #3B3A3A;
		font-family: arial;
	}

	li, ul {
		list-style: none;
		padding: 0;
	} 

	h1::first-letter {
		color:  #fff;
		font-size: 200px;
		font-family: Showcard Gothic;
	}

	h2,h3,h4 {
		line-height: 0;
	} 	

	.fixed-countainer {
		margin: 0 auto;
		max-width: 1200px;
		padding: 0 30px;
	}

	.flex-countainer {
		display: flex;
		justify-content: space-between;
	}

	* {
		color: #fff;
	}

	.swiper-container img {
		width: 300px;
		height: 300px;
	}

	.tabs__item img {
		width: 200px;
		height: 200px;
	}

 /*СИСТЕМНЫЕ СЕЛЕКТОРЫ-------------*/

 /*Кнопка вверх-------------*/

 	.buttonTop {
		position: fixed;
		padding: 20px;
		z-index: 1;
		bottom: 25px;
		left: 25px;
		color: #fff;
		font-size: 30px;
	}

 /*Кнопка вверх-------------*/

 /*ScrollBar-------------*/

 	::-webkit-scrollbar {
	    width: 0;
    }

 	#progressbar {
 		position: fixed;
 		top: 0;
 		right: 0;
 		width: 10px;
	    background: linear-gradient(to top, #008aff, #00ffe7);
	    animation: animate 5s linear infinite;
 	}

 	@keyframes animate {
 		0%,100% {
		filter: hue-rotate(0deg);
	}

	    50% {
		filter: hue-rotate(360deg);
	   }
 	}

 	#scrollPath {
 		position: fixed;
 		top: 0;
 		right: 0;
 		width: 10px;
	    height: 100%;
	    background-color: rgb(255, 255, 255, 0.05);
 	}

	 #progressbar:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to top, #008aff, #00ffe7);
		filter: blur(10px);
	}

	 #progressbar:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to top, #008aff, #00ffe7);
		filter: blur(30px);
	}
  /*ScrollBar-------------*/



	.Header {
		position: relative;
		border-bottom: 5px solid #03e9f4;
		box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
		padding: 150px 0;
	}

	.fa.icon1 {position: absolute;right: 100px;font-size: 100px;color: #03f8fc;}
	.fa.icon2 {position: absolute;top: 400px;right: 700px;font-size: 100px;color: #03fc31;}
	.fa.icon3 {position: absolute;bottom: 50px;left: 500px;font-size: 100px;color: #e3fc03;}
	.fa.icon4 {position: absolute;top: 100px;right: 700px;font-size: 100px;color: #ba03fc;}
	.fa.icon5 {position: absolute;top: 100px;left: 50px;font-size: 100px;color: #fc0390;}
	.fa.icon6 {position: absolute;bottom: 100px;left: 50px;font-size: 100px;color: #fcb103;}
	.fa.icon7 {position: absolute;bottom: 50px;right: 50px;font-size: 100px;}
	.fa.icon8 {position: absolute;top: 50px;left: 300px;font-size: 100px;color: #2d03fc;}

	.blac-bar h1 {
		font-size: 150px;
		color: #03e9f4;
	}

	.topnav a {
		text-decoration: none;
		padding-right: 20px;
		font-size: 40px;
    }

    .topnav a:hover {
    	color: #03e9f4;
    }

    .topnav.responsive a:hover {
    	background-color: #03e9f4;
    	transition: 0.5s;
    }

  /*БАШКА HEADER-------------*/



	.BLOC_1_MAIN {
		position: relative;
		margin-top: 50px;
	}

	.Section-left__MAIN {
		border: 1px solid #03e9f4;
		box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
		border-radius: 10px;
		width: 850px;
		min-height: 550px;
	}

	.Section-right__MAIN {
		position: relative;
		border: 1px solid #03e9f4;
		box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
		border-radius: 10px;
		width: 300px;
		min-height: 550px;
	}

	/*Слайдер--------------------------*/

	.Content-slider {
		border: 1px solid #03e9f4;
		text-align: center;
		width: 100%;
		font-size: 13px;
	}

	.Content-slider button {
		position: relative;
		width: 250px;
		height: 40px;
		color: #fff;
		background-color: transparent;
		border-top: 1px solid #03e9f4;
	}

	.Content-slider button:hover {
		background-color: #03e9f4;
		transition: 0.5s;
	}

		#slides {
	    position: relative;
	    height: 100%;
	    padding: 0px;
	    margin: 0px;
	    z-index: 0;
	    list-style-type: none;
	}

	.slide {
	    position: absolute;
	    left: 0px;
	    top: 0px;
	    width: 100%;
	    height: 100%;
	    opacity: 0;
	    z-index: 1;
	    border-radius: 10px;
	    -webkit-transition: opacity 1s;
	    -moz-transition: opacity 1s;
	    -o-transition: opacity 1s;
	    transition: opacity 1s;
	}

	.slide_sub {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.slide_sub button {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		border: none;
		background-color: #000;
		opacity: 0.5;
		font-size: 30px;
		outline: none;
	}

	.slide_sub button:hover {
		opacity: 1;
		transition: 0.5s;
	}

	.showing {
	    opacity: 1;
	    z-index: 2;
	}

	.slide:nth-child(1){
	    background-image: url('IMG/git1.png');
	    background-repeat: no-repeat;
	    background-position: center;
	}
	.slide:nth-child(2){
		 background-image: url('IMG/Neon2.png');
	    background-repeat: no-repeat;
	    background-position: center;
	}
	.slide:nth-child(3){
		background-image: url('IMG/Neon3.png');
	    background-repeat: no-repeat;
	    background-position: center;
	}

	/*Слайдер-------------------------*/

	.Content-right__MINE h1 {
		font-size: 100px;
	}

	.Content-right__MINE p {
		font-size: 30px;
	}

	.Content-right__MINE button {
		position: relative;
		width: 200px;
		height: 50px;
		border: none;
		background-color: transparent;
		font-size: 18px;
		overflow: hidden;
	}

	.Content-right__MINE button:hover {
		background-color: #03e9f4;
		transition-delay: 0.5s;
	}

	.Content-right__MINE button:before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 12px;
		height: 12px;
		border-top: 2px solid #03e9f4;
		border-left: 2px solid #03e9f4;
		transition: 0.5s;
		transition-delay: 0.5s;
	}

	.Content-right__MINE button:after {
		position: absolute;
		content: "";
		bottom: 0;
		right: 0;
		width: 12px;
		height: 12px;
		border-bottom: 2px solid #03e9f4;
		border-right: 2px solid #03e9f4;
		transition: 0.5s;
		transition-delay: 0.5s;
	}

	.Content-right__MINE button:hover:before {
		width: 100%;
		height: 100%;
		transition-delay: 0s;
	}
	.Content-right__MINE button:hover:after {
		width: 100%;
		height: 100%;
		transition-delay: 0s;
	}

	.Section-left__MAIN {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

  /*СЕКЦИЯ НОМЕР -2-------------*/



	.BLOC_2_NAV {
		margin-top: 50px;
	}

	.Section_NAV {
		border: 1px solid #03e9f4;
		box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
		border-radius: 10px;
		min-height: 100px;
	}

	.Content-left__NAV a {
		background-color: #03e9f4;
		padding: 20px;
		margin: 50px;
		text-decoration: none;
		color: #fff;
		font-size: 30px;
		border-radius: 10px;
		transition: 0.5s;
	}

	.Content-left__NAV a:hover {
		opacity: 0.5;
	}

	.Content-left__NAV h2 {
		font-size: 30px;
	}

	.Content-right__NAV img {
		border-radius: 6px;
	}

	.Section_NAV .flex-countainer {
		justify-content: space-around;
		align-items: center;
	}
/*СУКЦИЯ ТРЕТЬЯ NAV-------------*/


/*СУКЦИЯ ТРЕТЬЯ MAIN-SHOP-------------*/

	.BLOC_3_MAIN-SHOP {
		margin-top: 50px;
	}

	.Section-left__MAIN-SHOP {
		border: 1px solid #03e9f4;
		box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
		width: 630px;
		min-height: 450px;
		border-radius: 20px;
	}

	.Section-right__MAIN-SHOP {
		width: 550px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.Content-tape {
		padding: 25px 25px;
		font-size: 18px;
	}

	.Content-tape h2 {
		font-size: 25px;
		line-height: 0.5;
		color: #03e9f4;
	}

	.Content-lists li:before {
		content: "\f219";
		padding: 0 20px;
		font-family: fontAwesome;
		font-size: 30px;
	}

	.Content-lists li {
		font-size: 30px;
		padding: 10px 0;
	}

/*Табы-------------*/
	.tabs {
		width: 100%;
	}

	.tabs__nav {
    	display: flex;
    	justify-content: center;
	}

	.tabs__nav-btn {
	    cursor: pointer;
	    width: 50px;
	    height: 3px;
	    margin: 20px 5px;
	    border: none;
	    background: #fff;
	}

	.tabs__nav-btn:hover {
	    background-color: #000;
	    opacity: 0.5;
	}

	.tabs__nav-btn.active {
	    background-color: #e3fc03;
	    color: #000;
	}

	.tabs__content {
	    padding: 20px;
	    background-color: #fff;
	    border-radius: 5px;
	}

	.tabs__item {
	    display: none;
	}

	.tabs__item.active {
	    display: block;
	}

	.content_tab {
		display: flex;
	}

	.content_tab p {
		color: #000;
		font-size: 25px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

/*Табы-------------*/

	.button {
		display: flex;
		justify-content: center;
		margin: 50px 0;
	}

	.button button {
		position: relative;
		width: 250px;
		height: 50px;
		background-color: transparent;
		border: none;
		overflow: hidden;
		font-size: 18px;
	}

	.button button:hover {
		background-color: #03e9f4;
		transition-delay: 0.5s;
	}

	.button button:before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 12px;
		height: 12px;
		border-top: 2px solid #03e9f4;
		border-left: 2px solid #03e9f4;
		transition: 0.5s;
		transition-delay: 0.5s;
	}

	.button button:after {
		position: absolute;
		content: "";
		bottom: 0;
		right: 0;
		width: 12px;
		height: 12px;
		border-bottom: 2px solid #03e9f4;
		border-right: 2px solid #03e9f4;
		transition: 0.5s;
		transition-delay: 0.5s;
	}

	.button button:hover:before {
		width: 100%;
		height: 100%;
		transition-delay: 0s;
	}
	.button button:hover:after {
		width: 100%;
		height: 100%;
		transition-delay: 0s;
	}

	.Section__drive {
		position: relative;
		margin-bottom: 20px;
		width: 250px;
		height: 300px;
		border: 1px solid #03e9f4;
		box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
		border-radius: 10px;
	}

	.Section__game {
		position: relative;
		width: 250px;
		height: 300px;
		border: 1px solid #03e9f4;
		box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
		border-radius: 10px;
	}

	.Section__online {
		position: relative;
		width: 250px;
		height: 300px;
		border: 1px solid #03e9f4;
		box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
		border-radius: 10px;
	}

	.Section__dom {
		position: relative;
		width: 250px;
		height: 300px;
		border: 1px solid #03e9f4;
		box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
		border-radius: 10px;
	}

	.Link a {
		position: absolute;
		bottom: 10px;
		left: 20px;
		text-decoration: none;
		color: #03e9f4;
	}

	.Link a:before {
		position: absolute;
		left: 100px;
		transform: rotate(180deg);
		content: "\f064";
		font-family: fontAwesome;
		font-size: 0;
	}

	.Link a:hover::before {
		color: #03e9f4;
		font-size: 15px;
		transition-delay: 0.2s;
	}

	.content-drive, .content-game, .content-online, .content-dom {
		padding: 10px 10px;
	}

	.content-drive {
		background-image: url('IMG/ver1.png');
		background-position: center;
		background-repeat: no-repeat;
		min-height: 100%;
	}
	.content-game {
		background-image: url('IMG/ver2.png');
		background-position: center;
		background-repeat: no-repeat;
		background-position-y: 100px;
		min-height: 100%;
	}
	.content-online {
		background-image: url('IMG/ver3.png');
		background-repeat: no-repeat;
		background-position: center;
		min-height: 100%;
	}
	.content-dom {
		background-image: url('IMG/ver4.png');
		background-repeat: no-repeat;
		background-position: center;
		min-height: 100%;
	}

 /*СУКЦИЯ ТРЕТЬЯ MAIN-SHOP-------------*/


/*ЦЕНТРАЛЬНАЯ ТАБЛИЦА-------------*/

	.BLOC_4_MEIN_2 {
		margin-top: 50px;
	}

	.Section-left__MEIN_2 {
		width: 550px;
		min-height: auto;
		border-radius: 20px;
		border: 1px solid #03e9f4;
		box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
	}

	/*Slider-------------*/
	 .swiper-container {
	  width: 300px;
      height: 300px;
    }

    .swiper-slide {
      border: 1px solid #03e9f4;
	  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
  	}
  	
	/*Slider-------------*/


	.Section-right__MEIN_2 {
		position: relative;
		width: 300px;
		min-height: 720px;
		border-radius: 20px;
		border: 1px solid #03e9f4;
		box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
	}

	.content-right-MEIN_2 {
		background-image: url('IMG/gfgf.OtdWK.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 100%;
		border-radius: 20px;
	}

	.Address {
		padding: 50px 0;
	}

	.Link-address {
		display: flex;
		justify-content: center;
	}

	.fa.iconEmaill {
		font-size: 50px;
		padding: 10px 20px;
	}
	.fa.iconInst {
		font-size: 50px;
		padding: 10px 20px;
	}
	.fa.iconFace {
		font-size: 50px;
		padding: 10px 20px;
	}
	.Link-address .fa:hover {
		color: #e3fc03;
	}

	.content-MEIN_2 {
		padding-left: 25px;
	}

	.content-MEIN_2 li {
		padding: 25px 0;
		font-size: 30px;
	}

	.content-MEIN_2 h2 {
		padding-bottom: 10px;
		font-size: 50px;
	}

	.content-MEIN_2 li:before {
		content: "\f219";
		font-family: fontAwesome;
		padding: 0 10px;
	}


/*ЦЕНТРАЛЬНАЯ ТАБЛИЦА-------------*/


/*Footer-------------*/

	#br {
		position: relative;
		top: 50px;
		box-shadow: 0 0 5px #fff, 0 0 25px #fff;
		height: 70px;
	}

	.content-text {
		position: absolute;
		left: 50px;
		right: 50px;
		top: 10px;
		font-size: 13px;
		color: #fff;
		text-align: center;
	}

	.content-text a:hover {
		color: #e3fc03;
	}

	.content-text a {
		text-decoration: none;
		cursor: pointer;
	}

/*Footer-------------*/