body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #ffffff;
}

 ::-webkit-scrollbar {
	width: 0;
}

::-moz-selection {
	color: #ec4646;
	background-color: rgba(33, 33, 33, 1);
}

::selection {
	color: #ec4646;
	background-color: rgba(33, 33, 33, 1);
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.section {
	position: relative;
	min-height: 100vh;
	background-color: #a8a8a8;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1025%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(34%2c 40%2c 49%2c 1)'%3e%3c/rect%3e%3cpath d='M215.18 307.05a48.77 48.77 0 1 0-38.79-89.5z' stroke='rgba(176%2c 136%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M489.5 191.28L505.47 191.28L505.47 214.53L489.5 214.53z' stroke='rgba(218%2c 159%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M-27.89 154.73 a47.4 47.4 0 1 0 94.8 0 a47.4 47.4 0 1 0 -94.8 0z' stroke='rgba(152%2c 172%2c 248%2c 1)'%3e%3c/path%3e%3cpath d='M617.48 323.96L669.85 323.96L669.85 376.33L617.48 376.33z' stroke='rgba(176%2c 136%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M303.12 30.76L321.17 30.76L321.17 72.82L303.12 72.82z' stroke='rgba(176%2c 136%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M788.62 137.06 a12.17 12.17 0 1 0 24.34 0 a12.17 12.17 0 1 0 -24.34 0z' stroke='rgba(176%2c 136%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M1071.9 69.31 a41.23 41.23 0 1 0 82.46 0 a41.23 41.23 0 1 0 -82.46 0z' stroke='rgba(218%2c 159%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M524.47 361.19a1.77 1.77 0 1 0-0.45 3.52z' stroke='rgba(218%2c 159%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M1296.64 275.16L1324.07 275.16L1324.07 294.46L1296.64 294.46z' stroke='rgba(218%2c 159%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M1014.12 558.09L1026.11 558.09L1026.11 609.4L1014.12 609.4z' fill='rgba(176%2c 136%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M192 196.11L193.91 196.11L193.91 198.02L192 198.02z' stroke='rgba(218%2c 159%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M199.42 483.76a49.6 49.6 0 1 0-17.69-97.61z' stroke='rgba(218%2c 159%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M764.86 377.03L815.56 377.03L815.56 380.96L764.86 380.96z' stroke='rgba(176%2c 136%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M862.19 234.25L902.47 234.25L902.47 286.2L862.19 286.2z' fill='rgba(152%2c 172%2c 248%2c 1)'%3e%3c/path%3e%3cpath d='M416.81 479.27L455.92 479.27L455.92 518.38L416.81 518.38z' fill='rgba(218%2c 159%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M379.58 463.9L425.75 463.9L425.75 503.8L379.58 503.8z' stroke='rgba(152%2c 172%2c 248%2c 1)'%3e%3c/path%3e%3cpath d='M1198.62 471.22 a50.59 50.59 0 1 0 101.18 0 a50.59 50.59 0 1 0 -101.18 0z' fill='rgba(176%2c 136%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M896.27 526.61L897.26 526.61L897.26 527.6L896.27 527.6z' fill='rgba(152%2c 172%2c 248%2c 1)'%3e%3c/path%3e%3cpath d='M151.43 131.86L184.38 131.86L184.38 164.81L151.43 164.81z' fill='rgba(218%2c 159%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M1179.41 6.07 a9.73 9.73 0 1 0 19.46 0 a9.73 9.73 0 1 0 -19.46 0z' fill='rgba(152%2c 172%2c 248%2c 1)'%3e%3c/path%3e%3cpath d='M497.05 156.7 a23.47 23.47 0 1 0 46.94 0 a23.47 23.47 0 1 0 -46.94 0z' stroke='rgba(176%2c 136%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M1418.02 141.59L1446.51 141.59L1446.51 170.08L1418.02 170.08z' stroke='rgba(218%2c 159%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M419.64 326.78L447.82 326.78L447.82 378.54L419.64 378.54z' stroke='rgba(218%2c 159%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M1308.64 420.27L1355.26 420.27L1355.26 466.89L1308.64 466.89z' fill='rgba(176%2c 136%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M502.19 92.07 a21.97 21.97 0 1 0 43.94 0 a21.97 21.97 0 1 0 -43.94 0z' stroke='rgba(176%2c 136%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M1369.61 364.97a20.39 20.39 0 1 0-40.68-2.93z' fill='rgba(218%2c 159%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M722.88 542.3a24.97 24.97 0 1 0 23.65-43.99z' fill='rgba(218%2c 159%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M1059.18 76.95L1108 76.95L1108 106.84L1059.18 106.84z' fill='rgba(218%2c 159%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M998.99 481.49a18.58 18.58 0 1 0-10.15 35.75z' fill='rgba(176%2c 136%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M851.85 101.61L877.29 101.61L877.29 147.47L851.85 147.47z' fill='rgba(152%2c 172%2c 248%2c 1)'%3e%3c/path%3e%3cpath d='M806.23 537.27 a14.95 14.95 0 1 0 29.9 0 a14.95 14.95 0 1 0 -29.9 0z' stroke='rgba(218%2c 159%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M899.73 410.87 a29.16 29.16 0 1 0 58.32 0 a29.16 29.16 0 1 0 -58.32 0z' stroke='rgba(218%2c 159%2c 249%2c 1)'%3e%3c/path%3e%3cpath d='M1297.45 507.46L1320.2 507.46L1320.2 530.21L1297.45 530.21z' fill='rgba(176%2c 136%2c 249%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1025'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
	z-index: 11;
}

























































.fixed {
	margin: 0 auto;
	max-width: 1200px;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.burMenu {
	z-index: 2;
}

.sectionBlacBar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 700px;
	z-index: 1;
}

.sectionBlacBar img {
	width: 600px;
	height: 600px;
	border-radius: 50%;
	opacity: 0.5;
}



.drow {
	position: absolute;
	bottom: 80px;
	left: 50%;
	z-index: 2;
}

.bkacBar {
	position: absolute;
	top: 100px;
	left: 20px;
	width: 450px;
	height: 150px;
	background-color: #ffffff;
	color: #000;
}

.contentMenu {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	height: 100%;
}

.contentMenu ul {
	display: flex;
	list-style: none;
	padding: 0;
}
.contentMenu li {
	padding: 0 10px;
}

.bkacBar a {
	color: #000000;
}

.snackbar {
	display: none;
	min-width: 300px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 30%;
	top: 100px;
}

.snackbar.show {
	display: block;
	-webkit-animation-name: animatezoom;
	        animation-name: animatezoom;
	-webkit-animation-duration: 0.4s;
	        animation-duration: 0.4s;
}

.btnSnakbar {
	background-color: #000000;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
}

.blocPhone {
	position: absolute;
	top: 100px;
	right: 20px;
	width: 450px;
	height: 150px;
	background-color: #ffffff;
	color: #000;
}

.contentPhone {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}


.sectionPortfolio {
	position: relative;
	min-height: 100vh;
	background-color: #222831;
	overflow-x: hidden;
}

.flex-2, .blocLink {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.blocMain {
	width: 600px;
	height: 700px;
	background: -o-linear-gradient(135deg, #da9ff9, #b088f9, #98acf8, #bedcfa);
	background: linear-gradient(-45deg, #da9ff9, #b088f9, #98acf8, #bedcfa);
	background-size: 400% 400%;
	border-bottom-right-radius: 30%;
	border-top-right-radius: 50px;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

.blocLink img {
	width: 500px;
	height: 500px;
	background-color: #ffffff;
	border-radius: 500px;
	animation: anim-ramka-1 10s infinite;
}

.contentBloc {
	padding: 20px 0 0 20px;
}
.col-1-p p, h2 {
	color: #ffffff;
}
.col-1-p h2 {
	margin: 0;
}
.col-1-p p {
	font-size: 25px;
	letter-spacing: 5px;
}

/*Здесь окно вывода блока*/

.mobolSection {
	display: none;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
}

.mobolSection.active {
    display: block;
}

.btnMobolOk {
	background-color: #000000;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
}

.contentMobol {
	background-color: #333333;
	background-image: /*url("data:image/*/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='rgba(33, 33, 33, 1)' fill-opacity='1' d='M0,0L9.6,0C19.2,0,38,0,58,26.7C76.8,53,96,107,115,106.7C134.4,107,154,53,173,64C192,75,211,149,230,192C249.6,235,269,245,288,250.7C307.2,256,326,256,346,229.3C364.8,203,384,149,403,154.7C422.4,160,442,224,461,240C480,256,499,224,518,192C537.6,160,557,128,576,128C595.2,128,614,160,634,160C652.8,160,672,128,691,133.3C710.4,139,730,181,749,197.3C768,213,787,203,806,170.7C825.6,139,845,85,864,74.7C883.2,64,902,96,922,96C940.8,96,960,64,979,80C998.4,96,1018,160,1037,176C1056,192,1075,160,1094,149.3C1113.6,139,1133,149,1152,165.3C1171.2,181,1190,203,1210,224C1228.8,245,1248,267,1267,229.3C1286.4,192,1306,96,1325,90.7C1344,85,1363,171,1382,186.7C1401.6,203,1421,149,1430,122.7L1440,96L1440,320L1430.4,320C1420.8,320,1402,320,1382,320C1363.2,320,1344,320,1325,320C1305.6,320,1286,320,1267,320C1248,320,1229,320,1210,320C1190.4,320,1171,320,1152,320C1132.8,320,1114,320,1094,320C1075.2,320,1056,320,1037,320C1017.6,320,998,320,979,320C960,320,941,320,922,320C902.4,320,883,320,864,320C844.8,320,826,320,806,320C787.2,320,768,320,749,320C729.6,320,710,320,691,320C672,320,653,320,634,320C614.4,320,595,320,576,320C556.8,320,538,320,518,320C499.2,320,480,320,461,320C441.6,320,422,320,403,320C384,320,365,320,346,320C326.4,320,307,320,288,320C268.8,320,250,320,230,320C211.2,320,192,320,173,320C153.6,320,134,320,115,320C96,320,77,320,58,320C38.4,320,19,320,10,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-name: animatezoom;
            animation-name: animatezoom;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
}
.contentMobol {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.close i {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}

.left {
    -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.card {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
    z-index: 10;
    background-color: #ffffff;
}

.card img {
	border-radius: 5px 5px 0 0;
}

.card:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(182, 113, 113, 1);
            box-shadow: 0 8px 16px 0 rgba(182, 113, 113, 1);
}

.cardCountainer {
    padding: 2px 16px;
    color: #000000;
}
.cardCountainer p {
	color: #000000;
}

.linkMobol  {
	width: 100%;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.containerTL {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 40%;
}

/* The circles on the timeline */
.containerTL::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.leftTL {
    left: 0;
}

/* Place the container to the right */
.rightTL {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.leftTL::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.rightTL::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.rightTL::after {
    left: -16px;
}

/* The actual content */
.contentTL {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.contentTL h2 {
	color: #000000;
}

.progresBar {
	width: 100%;
	background-color: #dddddd;
	margin: 10px;
}

.skills {
    text-align: right;
    padding-right: 20px; 
    line-height: 40px; 
    color: white; 
}

.textBarProg {
	color: #ffffff;
}

.b1 {background-color: #845ec2; width: 80%;}
.b2 {background-color: #f9f871; width: 50%; color: #000000;}
.b3 {background-color: #ff5e78; width: 40%;}
.b1, .b2, .b3 {font-size: 10px;}

/*Здесь окно вывода блока*/

.sectionMainRobot {
	position: relative;
	height: 100vh;
	background-color: #ffffff;
}

    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #ffffff;
      color: #ffffff;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 150' preserveAspectRatio='none' style='height: 100%25; width: 100%25;'%3E%3Cpath d='M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z' style='stroke: none; fill: rgba(33, 33, 33, 1);'%3E%3C/path%3E%3C/svg%3E");
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

.sectionBottom {
	min-height: 200px;
	padding-top: 50px;
	background-color: rgba(33, 33, 33, 1);
}

.flex-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.sectionBottom ul {
	list-style: none;
}
.sectionBottom li {
	list-style: none;
	margin: 30px 0 0;
}

.blocLinFot1 {
	width: 260px;
	min-height: 0;
	background-color: rgba(96, 194, 242, 0.1); 
	color: rgba(96, 194, 242, 0.1);
	border-radius: 10px;
	color: #fff;
}

.blocLinFot2 {
	width: 260px;
	min-height: 0;
	background-color: rgba(96, 194, 242, 0.1); 
	color: rgba(96, 194, 242, 0.1);
	border-radius: 10px;
	color: #fff;
}

.blocLinFot3 {
	width: 260px;
	min-height: 0;
	background-color: rgba(96, 194, 242, 0.1); 
	color: rgba(96, 194, 242, 0.1);
	border-radius: 10px;
	color: #fff;
}


.blocLinFot3 button {
	width: 100px;
	height: 40px;
	background-color: #f58634;
	border-radius: 10px;
	border: none;
	outline: none;
	color: #ffffff;
	cursor: pointer;
}

.arrow-down span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #ec4646;
    border-right: 5px solid #ec4646;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: -20px;
    -webkit-animation: arrow-down 2s infinite;
            animation: arrow-down 2s infinite;
}



#milk {
	width: 400px;
	height: 300px;
}

.footerDom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 50px;
}