body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #ffffff;
}

 ::-webkit-scrollbar {
	width: 0;
}

::-moz-selection {
	color: #ec4646;
	background-color: rgba(33, 33, 33, 1);
}

::selection {
	color: #ec4646;
	background-color: rgba(33, 33, 33, 1);
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.section {
	position: relative;
	min-height: 100vh;
}


.fixed {
	margin: 0 auto;
	max-width: 1200px;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.burMenu {
	z-index: 2;
}

.sectionBlacBar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 700px;
	z-index: 1;
}

.sectionBlacBar img {
	width: 600px;
	height: 600px;
	border-radius: 50%;
	opacity: 0.5;
}



.drow {
	position: absolute;
	bottom: 0;
	left: 50%;
}

.bkacBar ul {
	list-style: none;
	margin: 45px;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 350px;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	font-size: 20px;
}

.bkacBar {
	position: absolute;
	width: 450px;
	height: 150px;
	background-color: #ffffff;
	color: #000;
}

.bkacBar a {
	color: #000000;
}

.snackbar {
	display: none;
	min-width: 300px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 30%;
	top: 100px;
}

.snackbar.show {
	display: block;
	-webkit-animation-name: animatezoom;
	        animation-name: animatezoom;
	-webkit-animation-duration: 0.4s;
	        animation-duration: 0.4s;
}

.btnSnakbar {
	background-color: #000000;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
}

.blocPhone {
	position: absolute;
	right: 0;
	width: 250px;
	height: 150px;
	background-color: #ffffff;
	color: #000;
}

.blocPhone span {
	position: absolute;
	top: 45px;
	left: 45px;
	font-size: 20px;
}

.sectionPortfolio {
	position: relative;
	min-height: 100vh;
	background-color: #222831;
	overflow-x: hidden;
}

.flex-2, .blocLink {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.blocMain {
	width: 600px;
	height: 700px;
	background: -o-linear-gradient(135deg, #da9ff9, #b088f9, #98acf8, #bedcfa);
	background: linear-gradient(-45deg, #da9ff9, #b088f9, #98acf8, #bedcfa);
	background-size: 400% 400%;
	border-bottom-right-radius: 30%;
	border-top-right-radius: 50px;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

.blocLink img {
	width: 500px;
	height: 500px;
	background-color: #ffffff;
	border-radius: 500px;
}

.contentBloc {
	padding: 20px 0 0 20px;
}
.col-1-p p, h2 {
	color: #ffffff;
}
.col-1-p h2 {
	margin: 0;
}
.col-1-p p {
	font-size: 25px;
	letter-spacing: 5px;
}

/*Здесь окно вывода блока*/

.mobolSection {
	display: none;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
}

.mobolSection.active {
    display: block;
}

.btnMobolOk {
	background-color: #000000;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
}

.contentMobol {
	background-color: #333333;
	background-image: /*url("data:image/*/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='rgba(33, 33, 33, 1)' fill-opacity='1' d='M0,0L9.6,0C19.2,0,38,0,58,26.7C76.8,53,96,107,115,106.7C134.4,107,154,53,173,64C192,75,211,149,230,192C249.6,235,269,245,288,250.7C307.2,256,326,256,346,229.3C364.8,203,384,149,403,154.7C422.4,160,442,224,461,240C480,256,499,224,518,192C537.6,160,557,128,576,128C595.2,128,614,160,634,160C652.8,160,672,128,691,133.3C710.4,139,730,181,749,197.3C768,213,787,203,806,170.7C825.6,139,845,85,864,74.7C883.2,64,902,96,922,96C940.8,96,960,64,979,80C998.4,96,1018,160,1037,176C1056,192,1075,160,1094,149.3C1113.6,139,1133,149,1152,165.3C1171.2,181,1190,203,1210,224C1228.8,245,1248,267,1267,229.3C1286.4,192,1306,96,1325,90.7C1344,85,1363,171,1382,186.7C1401.6,203,1421,149,1430,122.7L1440,96L1440,320L1430.4,320C1420.8,320,1402,320,1382,320C1363.2,320,1344,320,1325,320C1305.6,320,1286,320,1267,320C1248,320,1229,320,1210,320C1190.4,320,1171,320,1152,320C1132.8,320,1114,320,1094,320C1075.2,320,1056,320,1037,320C1017.6,320,998,320,979,320C960,320,941,320,922,320C902.4,320,883,320,864,320C844.8,320,826,320,806,320C787.2,320,768,320,749,320C729.6,320,710,320,691,320C672,320,653,320,634,320C614.4,320,595,320,576,320C556.8,320,538,320,518,320C499.2,320,480,320,461,320C441.6,320,422,320,403,320C384,320,365,320,346,320C326.4,320,307,320,288,320C268.8,320,250,320,230,320C211.2,320,192,320,173,320C153.6,320,134,320,115,320C96,320,77,320,58,320C38.4,320,19,320,10,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-name: animatezoom;
            animation-name: animatezoom;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
}
.contentMobol {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.close i {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}

.left {
    -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.card {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
    z-index: 10;
    background-color: #ffffff;
}

.card img {
	border-radius: 5px 5px 0 0;
}

.card:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(182, 113, 113, 1);
            box-shadow: 0 8px 16px 0 rgba(182, 113, 113, 1);
}

.cardCountainer {
    padding: 2px 16px;
    color: #000000;
}
.cardCountainer p {
	color: #000000;
}

.linkMobol  {
	width: 100%;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.containerTL {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 40%;
}

/* The circles on the timeline */
.containerTL::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.leftTL {
    left: 0;
}

/* Place the container to the right */
.rightTL {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.leftTL::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.rightTL::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.rightTL::after {
    left: -16px;
}

/* The actual content */
.contentTL {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.contentTL h2 {
	color: #000000;
}

.progresBar {
	width: 100%;
	background-color: #dddddd;
	margin: 10px;
}

.skills {
    text-align: right;
    padding-right: 20px; 
    line-height: 40px; 
    color: white; 
}

.textBarProg {
	color: #ffffff;
}

.b1 {background-color: #845ec2; width: 80%;}
.b2 {background-color: #f9f871; width: 50%; color: #000000;}
.b3 {background-color: #ff5e78; width: 40%;}
.b1, .b2, .b3 {font-size: 10px;}

/*Здесь окно вывода блока*/

.sectionMainRobot {
	position: relative;
	height: 100vh;
	background-color: #ffffff;
}

    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #ffffff;
      color: #ffffff;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 150' preserveAspectRatio='none' style='height: 100%25; width: 100%25;'%3E%3Cpath d='M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z' style='stroke: none; fill: rgba(33, 33, 33, 1);'%3E%3C/path%3E%3C/svg%3E");
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

.sectionBottom {
	min-height: 200px;
	padding-top: 50px;
	background-color: rgba(33, 33, 33, 1);
}

.flex-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.sectionBottom ul {
	list-style: none;
}
.sectionBottom li {
	list-style: none;
	margin: 30px 0 0;
}

.blocLinFot1 {
	width: 260px;
	min-height: 0;
	background-color: rgba(96, 194, 242, 0.1); 
	color: rgba(96, 194, 242, 0.1);
	border-radius: 10px;
	color: #fff;
}

.blocLinFot2 {
	width: 260px;
	min-height: 0;
	background-color: rgba(96, 194, 242, 0.1); 
	color: rgba(96, 194, 242, 0.1);
	border-radius: 10px;
	color: #fff;
}

.blocLinFot3 {
	width: 260px;
	min-height: 0;
	background-color: rgba(96, 194, 242, 0.1); 
	color: rgba(96, 194, 242, 0.1);
	border-radius: 10px;
	color: #fff;
}

.blocLinFot3 button {
	width: 100px;
	height: 40px;
	background-color: #f58634;
	border-radius: 10px;
	border: none;
	outline: none;
	color: #ffffff;
	cursor: pointer;
}

.arrow-down span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #ec4646;
    border-right: 5px solid #ec4646;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: -20px;
    -webkit-animation: arrow-down 2s infinite;
            animation: arrow-down 2s infinite;
}



#milk {
	width: 400px;
	height: 300px;
}

.footerDom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 50px;
}